@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
   
    
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; 
  }


/* loader styling */

.preloader{
    position: fixed;
    z-index: 9999;
    background: #111;
    width: 100%;
    height: 100%;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    display: flex;
    align-items: center;
  }
  .obj{
    width: 6px;
    height: 40px;
    background: white;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
  }
  .obj:nth-child(2){
    animation-delay: 0.1s;
  }
  .obj:nth-child(3){
    animation-delay: 0.2s;
  }
  .obj:nth-child(4){
    animation-delay: 0.3s;
  }
  .obj:nth-child(5){
    animation-delay: 0.4s;
  }
  .obj:nth-child(6){
    animation-delay: 0.5s;
  }
  .obj:nth-child(7){
    animation-delay: 0.6s;
  }
  .obj:nth-child(8){
    animation-delay: 0.7s;
  }
  
  
  @keyframes loading {
    0%{
      height: 0;
    }
    50%{
      height: 40px;
    }
    100%{
      height: 0;
    }
  }

/* loader ends */

.menu-btn{
    color: #FFF;
    font-size: 23px;
    cursor: pointer;
    display: none;  
    }
                                                                
.navbar{
    position: fixed;
    width: 100%;
    z-index: 8999;
    padding: 25px 0;
    font-family:'ubuntu',sans-serif;
    transition: all 0.3s ease;
    background: #111;
}
.navbar.sticky{
    padding: 15px 0;
    background:#111; 
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.navbar .logo{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logoimg img{
    width: 30px;
    margin: 10px;
}
.navbar .logoname a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logoname a span{
    color: #008ab4;
    transition: all 0.3s ease;
}
.navbar.sticky .logoname a {
    color: #fff;  
}
.navbar.sticky .logoname a span{
    color: #fff;   
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu .menu-btn-active{
    color: #008ab4!important;
}

.navbar .menu li a:hover{
    color: #fff
}
.navbar.sticky .menu li a{
    color: #fff;
}
.navbar.sticky .menu li a:hover{
    color: #008ab4;
    
}
.social{
    margin: 20px 0;
}
.social a{
    z-index: 9999;
    margin: 10px;
    padding-right: 15px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    transition: 0.4s;
    border-radius: 50%
}
.social .fb:hover{
    
     color: #4267B2;
}
.social .tw:hover{
    
    color: #008ab4;
}
.social .yt:hover{
    
    color: crimson;
}
.social .in:hover{
    color: #E1306C
}





















/* contact section starts */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding: 130px 20px;
    width: 100%;
    background:url(img/banner.jpg) no-repeat center;
    background-size: cover;
}

/* section::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#fffeb3,#e91e63);
    border-radius: 50%;
    transform: translate(-470px, -160px );
}


section::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background:url(img/banner\ 2.jpg)
    border-radius: 50%;
    transform: translate(450px,180px);
} */

.container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);

}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.container h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container .row100 .col .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffff;
}
.container .row100 .col .inputbox input,
.container .row100 .col .inputbox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    
}
.container .row100 .col .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .col .inputbox input:focus + .text,
.container .row100 .col .inputbox input:valid + .text,
.container .row100 .col .inputbox textarea:focus + .text,
.container .row100 .col .inputbox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.container .row100 .col .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .col .inputbox input:focus ~ .line,
.container .row100 .col .inputbox input:valid ~ .line{
    height: 100%;
}
.container .row100 .col .inputbox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;

}
.container .row100 .col .inputbox textarea:focus ~ .line,
.container .row100 .col .inputbox textarea:valid ~ .line{
    height: 100%;
}
.container .row100 .col button
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #111;
    font-weight: 600;
    font-size: 18px;
    border-radius:2px;
}
.cont{
    font-size: 10px;
}
@media (max-width:768px){
    /* .container{
       
    } */
    .container h2{
        font-size: 25px;
    }
    
}
@media (max-width:370px){
    .container .row100 .col .inputbox,
    .container .row100 .col .inputbox.textarea  {
        width: 80%;
    }
    .container .row100 .col button {
    font-size: 14px;
    }
    .container .row100 .col .inputbox .text{
        font-size: 14px;
    }
    .social a {
        margin: 7px;
        padding-right: 0;
        padding: 10px;
    }
    
}

@media (max-width:350px){
    .container .row100 .col .inputbox,
    .container .row100 .col .inputbox.textarea  {
        width: 80%;
    }
    .container h2{
        font-size: 18px;
    }
    .container .row100 .col button {
    font-size: 12px;
    }
    .container .row100 .col .inputbox input, .container .row100 .col .inputbox textarea {
        font-size: 14px;
    }
    .social a{
        padding-right: 0;
        padding: 2px;
    }
    
}
@media (max-width:320px){
    .container .row100 .col .inputbox,
    .container .row100 .col .inputbox.textarea  {
        width: 60%;
    }
    .container h2{
        font-size: 14px;
    }
    .container .row100 .col button {
    font-size: 12px;
    }
    
}
@media (max-width: 400px){

    .max-width{
        width: 100%;
        padding: 0 30px;
    }
    .navbar{
        padding: 0;
    }
    .navbar.sticky {
        padding: 0;
        background: #111;
    }
    .navbar .logo{
        transform:scale(.8);
    }
    .navbar .logoimg img{
        width: 60px;
        margin: 10px;
    }
    .social a{
        padding-right: 0;
        padding: 4px;
    }
}

@media (max-width: 500px){
    .navbar .logoname a{
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }

}
@media (max-width: 690px){
    .max-width {
    padding: 0 50px;
    }
}
@media (max-width: 947px){

    .max-width {
    max-width: 800px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top:0;
        background: #111;
        text-align: center;
        padding-top:80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: -0%;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}
@media (max-width: 991px){
.max-width {
    padding: 0 50px;
    }
}
                                                               
@media (max-width:991px) {
.max-width{
 padding: 0 50px;
 }
}
